.history
    width: 56rem
    height: 60.1rem
    padding: 2rem 2rem

    background-color: $primary-color
    border-radius: 1.2rem

// .converter__head
//     display: flex
//     justify-content: space-between
//     align-items: end