.history-block
    width: 100%

    display: flex
    justify-content: space-between
    gap: 1rem
    
    font-size: 2.2rem
    color: $secondary-color

    &:not(:first-child)
        margin-top: 0.8rem

.history-block__record
    width: 45.3rem
    padding: 0.4rem 1rem
    display: flex
    justify-content: space-between

    border-radius: 0.8rem
    background-color: $tertiary-color

    &>div
        display: flex
        gap: 1rem



// .history-block__del
//     width: 5.6rem